<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="course_work_EFEntities" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CDL8DQM\SQLEXPRESS;initial catalog=course_work_EF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="course_work_EFEntities1" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CDL8DQM\SQLEXPRESS;initial catalog=course_work_EF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>